.navbar {
    width: 100%;
    min-height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    font-size: 1rem;
}

.links-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 2rem;
    padding: 0 0.5rem;
    font-weight: 700;
    color: var(--text-color);
}

.links-text .a-links {
    display: flex;
    align-items: center;
    padding-left: 3rem;
}

/*?  all tools humberger  */
.alltools {
    width: 100%;
    position: relative;
    display: none;
    margin: 0 0 0 3rem;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    white-space: nowrap;
    cursor: pointer;
}

.alltools:hover {
    color: rgb(198, 49, 49);
}

.alltools svg {
    height: 3.5rem;
    width: 3.5rem;
    padding-left: 0.5rem;
}

.links-text .a-links a {
    text-transform: uppercase;
    font-size: 1.4rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin: 0 0.8rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;
}

.links-text .a-links a:hover {
    color: rgb(255, 255, 255);
    background: rgba(255, 0, 0, 0.759);
}


/*  part links 2 */

.links-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
}

.links-menu li {
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 1.5rem;
}




.links-menu li .login {
    cursor: pointer;
    letter-spacing: 0.2rem;
    padding: 0.7rem 1rem;
    transform: all border 0.4s ease-in-out;
}

.links-menu li .login:hover {
    color: rgb(255, 255, 255);
    background: rgba(255, 0, 0, 0.759);
    border-radius: 10rem;
}


.links-menu li .sign-up {
    color: #000000;
    cursor: pointer;
    padding: 0.7rem 1rem;
    letter-spacing: 0.2rem;
    transition: all 0.2s ease-in-out;
}


.humberg-user{
    display: none;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 2rem 0 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.humberg-user:hover/*  .humberg-user svg */{
    transform: scale(1.2);
}


.links-menu li .sign-up:hover {
    color: rgb(255, 255, 255);
    background: rgba(255, 0, 0, 0.759);
    border-radius: 10rem;
}



.menu-btn {
    width: 2.1rem;
    height: 2.1rem;
    position: relative;
}

.menu-btn svg {
    cursor: pointer;
    color: rgb(22, 19, 19);
}




@media only screen and (max-width: 600px) {
    .alltools {
        display: flex;
        font-size: 1.2rem;
    }

    .alltools svg {
        height: 2.9rem;
        width: 2.9rem;
        padding-left: 0.5rem;
    }

    .links-text .a-links {
        display: none;
    }
    .links-menu li{
        display: none;
    }
    .humberg-user{
        display: block;
    }
}